MQTT_BROKER=172.16.2.117
MQTT_PORT=1883
MQTT_TOPIC=v1/6610301004
MQTT_QOS=1
MQTT_CLIENT_ID=cloud_telegraf_6610301004

INFLUX_URL=http://172.16.2.117:8086
INFLUX_ORG=my-org
INFLUX_BUCKET=mini_project
INFLUX_TOKEN=REPLACE_WITH_MINI_PROJECT_WRITE_TOKEN
